<!DOCTYPE html>
<html lang="en">
<head>
    <title>Slovenia Tax Calculator for Normirani S.P.</title>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <meta name="description" content="Use our Slovenia Normirani S.P. Tax Calculator to easily calculate your taxes for the year. Calculate your monthly and annual tax based on your gross income and social taxes.">
    <meta name="keywords" content="Slovenia, Normirani S.P., tax calculator, tax deductions, annual tax, monthly tax, social taxes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>
  <div id="app" class="container">
    <div class="calculator">
      <header>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 40" class="logo">
            <title id="logo-title">Slovenia Normirani S.P. Tax Calculator Logo</title>
            <g fill="none">
              <path fill="red" d="M0 27h52v9a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4v-9Z" />
              <path fill="#00F" d="M0 13h52v14H0z" />
              <path fill="#FFF" d="M4 0h44a4 4 0 0 1 4 4v9H0V4a4 4 0 0 1 4-4Z" />
              <path fill="#00F" d="M15.353 7.996a11.342 11.342 0 0 1 9.294 0C25.132 14.98 23.583 18.94 20 19.873c-3.583-.933-5.132-4.892-4.647-11.877Z" />
              <path fill="#FF0" d="m20 9.251.14.325.347-.039-.206.286.206.287-.346-.039-.141.325-.14-.325-.347.039.206-.287-.206-.286.346.039m-.807-2.106.246.48.606-.056-.36.424.36.424-.606-.057-.246.48-.246-.48-.606.057.36-.424-.36-.424.606.057m2.871-.48.246.48.606-.057-.36.424.36.424-.606-.057-.246.48-.246-.48-.606.057.36-.424-.36-.424.606.057" />
              <path fill="#FFF" d="m20 11.095 1.125 2.29.75-1.017 1.875 2.544c0 .118-.016.236-.048.35A5.86 5.86 0 0 1 20 19.224a5.86 5.86 0 0 1-3.702-3.964 1.293 1.293 0 0 1-.048-.35l1.875-2.543.75 1.017L20 11.095Z" />
              <path fill="#00F" d="M16.298 15.261c.106.377.376.683.733.83.357.147.76.118 1.094-.078a1.231 1.231 0 0 1 1.25 0c.387.228.863.228 1.25 0a1.231 1.231 0 0 1 1.25 0 1.23 1.23 0 0 0 1.094.078c.357-.147.627-.453.733-.83l.048.018v.931c-.22 0-.435.059-.625.17a1.231 1.231 0 0 1-1.25 0 1.231 1.231 0 0 0-1.25 0 1.231 1.231 0 0 1-1.25 0 1.231 1.231 0 0 0-1.25 0 1.231 1.231 0 0 1-1.25 0 1.233 1.233 0 0 0-.625-.17v-.931" />
              <path fill="#00F" d="M16.298 15.996c.106.495.376.897.733 1.09.357.194.76.156 1.094-.102.387-.298.863-.298 1.25 0s.863.3 1.25 0 .863-.298 1.25 0c.333.258.737.296 1.094.102.357-.193.627-.595.733-1.09l.048.023v1.224c-.22 0-.435.077-.625.224a.984.984 0 0 1-1.25 0 .984.984 0 0 0-1.25 0 .984.984 0 0 1-1.25 0 .984.984 0 0 0-1.25 0 .984.984 0 0 1-1.25 0 1.02 1.02 0 0 0-.625-.224V16.02" />
              <path fill="red" d="M15 8.161c.117-.057.234-.112.353-.165l.371 6.036c.16 2.58 1.857 4.795 4.276 5.582 2.42-.787 4.117-3.003 4.276-5.582l.37-6.036c.12.053.237.108.354.165l-.363 5.894C24.467 16.829 22.617 19.2 20 20c-2.616-.799-4.467-3.171-4.637-5.945L15 8.16Z" />
            </g>
          </svg>
        </span>
        <span class="header">
          <h1>Normirani S.P.</h1>
          <h2>Tax Calculator</h2>
        </span>
      </header>
      <section style="width: 100%;">
        <div style="position: relative;">
          <input type="number" id="grossAnnualIncome" v-model.number="inputValue" @keydown.enter="calculate" step="1000" placeholder=" ">
          <label for="grossAnnualIncome" class="did-floating-label"> Annual Gross Income </label>
        </div>
        <div class="switch-container">
          <label class="switch">
            <input type="checkbox" v-model="useDefaultSocialContrib" @change="toggleSocialContrib">
            <span class="slider"></span>
          </label>
          <label class="switch-label">Use minimal social contribution and apply 50% ZPIZ discount for new S.P.</label>
        </div>
        <div style="position: relative;" v-if="!useDefaultSocialContrib">
          <input type="number" id="socialContribMonthly" v-model.number="socialContribMonthly" @keydown.enter="calculate" step="100" placeholder=" ">
          <label for="socialContribMonthly" class="did-floating-label"> Monthly Social Contribution </label>
          <span class="learn-more">Minimum of 381.80 will be used by default. <a href="https://www.fu.gov.si/davki_in_druge_dajatve/podrocja/prispevki_za_socialno_varnost/osnove_za_placilo_ter_zneski_prispevkov_za_socialno_varnost/">Learn more</a>
          </span>
        </div>
        <button @click="calculate">Calculate</button>
      </section>
    </div>
    <section class="results" v-if="showResults">
      <table>
        <thead>
          <tr>
            <th></th>
            <th style="text-align: right">Monthly</th>
            <th style="text-align: right">
              <span>Annual</span>
              <span class="perc">%</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Income Tax:</td>
            <td style="text-align: right">{{formattedIncomeTaxMonthly}}</td>
            <td style="text-align: right">
              <span>{{formattedIncomeTax}}</span>
              <span class="perc">{{incomeTaxPerc.toFixed(1)}}%</span>
            </td>
          </tr>
          <tr>
            <td>Formal Profit:</td>
            <td style="text-align: right">{{formattedFormalMonthlyProfit}}</td>
            <td style="text-align: right">
              <span>{{formattedFormalProfit}}</span>
              <span class="perc">{{formalProfitPerc.toFixed(1)}}%</span>
            </td>
          </tr>
          <tr>
            <td>Social Taxes:</td>
            <td style="text-align: right">{{formattedSocialContribMonthly}}</td>
            <td style="text-align: right">
              <span>{{formattedSocialContrib}}</span>
              <span class="perc">{{socialContribPerc.toFixed(1)}}%</span>
            </td>
          </tr>
          <tr>
            <td>Tax + Social:</td>
            <td style="text-align: right">{{formattedTotalTaxSocMonthly}}</td>
            <td style="text-align: right">
              <span>{{formattedTotalTaxSoc}}</span>
              <span class="perc">{{totalTaxSocPerc.toFixed(1)}}%</span>
            </td>
          </tr>
          <tr class="netRow">
            <td class="net">Net:</td>
            <td class="net" style="text-align: right">{{formattedNetMonthly}}</td>
            <td class="net" style="text-align: right">
              <span>{{formattedNetAnnual}}</span>
              <span class="perc">{{netAnnualPerc.toFixed(1)}}%</span>
            </td>
          </tr>
        </tbody>
      </table>
      <a href="#" class="faq-link">Frequently Asked Questions →</a>
    </section>
  </div>
  
<script>
	function customNumberFormat(num) {
		if (typeof num !== 'number') {
			return num;
		}

		const numParts = num.toFixed(2).split('.');
		numParts[0] = numParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
		return numParts.join('.');
	}

const app = new Vue({
		el: '#app',
		data: {
			inputValue: '',
			socialContribMonthly: 316.03,
			useDefaultSocialContrib: true,
			showResults: false,
			incomeTax: 0,
			incomeTaxMonthly: 0,
			incomeTaxPerc: 0,
			formalProfit: 0,
			formalMonthlyProfit: 0,
			formalProfitPerc: 0,
			socialContrib: 0,
			socialContribPerc: 0,
			totalTaxSoc: 0,
			totalTaxSocMonthly: 0,
			totalTaxSocPerc: 0,
			netAnnual: 0,
			netMonthly: 0,
			netAnnualPerc: 0
		},
		computed: {
			formattedIncomeTax() {
				return customNumberFormat(this.incomeTax);
			},
			formattedFormalProfit() {
				return customNumberFormat(this.formalProfit);
			},
			formattedIncomeTaxMonthly() {
				return customNumberFormat(this.incomeTaxMonthly);
			},
			formattedFormalMonthlyProfit() {
				return customNumberFormat(this.formalMonthlyProfit);
			},
			formattedSocialContrib() {
				return customNumberFormat(this.socialContrib);
			},
			formattedSocialContribMonthly() {
				return customNumberFormat(this.socialContribMonthly);
			},
			formattedTotalTaxSoc() {
				return customNumberFormat(this.totalTaxSoc);
			},
			formattedTotalTaxSocMonthly() {
				return customNumberFormat(this.totalTaxSocMonthly);
			},
			formattedNetAnnual() {
				return customNumberFormat(this.netAnnual);
			},
			formattedNetMonthly() {
				return customNumberFormat(this.netMonthly);
			},
		},
		watch: {
			inputValue(value) {
				if (value < 0) {
					this.inputValue = 1000;
					alert("Gross Annual Income must be greater than 0");
				}
			},
			useDefaultSocialContrib() {
				this.toggleSocialContrib();
			},
			socialContribMonthly(value) {
				if (value < 0) {
					this.socialContribMonthly = 0;
					alert("Social Contribution must be greater than 0");
				}
			}
		},
		methods: {
			toggleSocialContrib() {
				if (this.useDefaultSocialContrib) {
					this.socialContribMonthly = 381.80;
				} else {
					this.socialContribMonthly = '';
				}
				this.resetApp();
			},
			calculate() {

				if (this.inputValue <= 0 || this.socialContribMonthly < 0) {
					alert("Both inputs must be greater than 0");
					return;
				}

				if (this.socialContribMonthly <= 0) {
					this.socialContribMonthly = 381.80;
				}

				const input = this.inputValue;

				if (input <= 50000) {
					this.incomeTax = input * 0.04;
					this.formalProfit = input * 0.2;
				} else if (input <= 100000) {
					this.incomeTax = (50000 * 0.04) + (input - 50000) * 0.12;
					this.formalProfit = (50000 * 0.2) + (input - 50000) * 0.6;
				} else {
					this.incomeTax = (50000 * 0.04) + (100000 - 50000) * 0.12 + (input - 100000) * 0.2;
					this.formalProfit = (50000 * 0.2) + (100000 - 50000) * 0.6 + (input - 100000) * 1;
				}
				this.incomeTaxMonthly = this.incomeTax / 12;
				this.incomeTaxPerc = (this.incomeTax / input) * 100;
				this.formalMonthlyProfit = this.formalProfit / 12;
				this.formalProfitPerc = (this.formalProfit / input) * 100;
				this.socialContrib = this.socialContribMonthly * 12;
				this.socialContribPerc = (this.socialContrib / input) * 100;
				this.totalTaxSoc = this.incomeTax + this.socialContrib;
				this.totalTaxSocMonthly = this.totalTaxSoc / 12;
				this.totalTaxSocPerc = (this.totalTaxSoc / input) * 100;
				this.netAnnual = input - this.incomeTax - this.socialContrib;
				this.netMonthly = this.netAnnual / 12;
				this.netAnnualPerc = (this.netAnnual / input) * 100;
				this.showResults = true;
			},
			resetApp() {
				this.showResults = false;
				this.incomeTax = 0;
				this.incomeTaxMonthly = 0;
				this.incomeTaxPerc = 0;
				this.formalProfit = 0;
				this.formalMonthlyProfit = 0;
				this.formalProfitPerc = 0;
				this.socialContrib = 0;
				this.socialContribPerc = 0;
				this.totalTaxSoc = 0;
				this.totalTaxSocMonthly = 0;
				this.totalTaxSocPerc = 0;
				this.netAnnual = 0;
				this.netMonthly = 0;
				this.netAnnualPerc = 0;
			}
		}
	}) 
  </script>
  </body>
</html>
